<nav>
    <div class="site-title">
        
        <a href="/"><h1>Blog 1</h1></a>
        <p>A new Blog Site</p>
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">pen new blog</a></li>
    </ul>
</nav>