<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="class-not-found-content">
        OOPS, NOT FOUND
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>